
.btn-group{
   margin: 10px;
}

div.row.col-lg-8{
    padding:0px;
}
.leaderboard-player{
    min-width: 80%;
}

#leaderboard-heading{
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}
#leaderboard-heading>div>h1{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
}

#the-rest-leaderboard{
    background-color:lightcyan;
    margin-top: 8%;
    margin-bottom: -222px;
    padding-bottom: 222px;
    border-radius: 30px;
}

#leader-card{
    margin-top: 5%;
    padding-top:3%;
    background-color: lightblue;
    margin-bottom: 222px;
    padding-bottom: 222px;
    border-radius: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightcyan;
    border-radius: 20px;
}
#leader-profile{
    align-items: center;
}
#leaderboard-leader-profile>img{
    max-width: 50px;
}

.table{
    margin-top: 20px;
}

thead>tr{
    border-radius: 5px;
}

#back-button{
    display:flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
}



