body {
    background-image: url(https://cdn.shopify.com/s/files/1/0337/7469/products/fading-sunset-ombre-wallpaper-mural_1800x1800.jpg?v=1596396913);
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}

.mainrunpic {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/302/476/non_2x/aerial-view-of-a-running-track-vector.jpg);
    width: 800px;
    height: 475px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}
.mainswimpic {
    background-image: url(https://us.123rf.com/450wm/mhaprang/mhaprang1504/mhaprang150400083/39242534-vector-of-swimming-pool-top-view.jpg?ver=6);
    width: 440px;
    height: 475px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}
.mainbikepic {
    background-image: url(https://lh3.googleusercontent.com/proxy/okKJZ956uP649H6W2oNWAGJxMfb7rNR5sp4ucdK6U6OiAReUu3MnJKHansa-iOYjvUFthtF7G2F3SLDqNwilx30JyoM0YlRmCwLdR7SBnfWlbn99n4RnjYDOG7TSRXJDEmDv_14);
    width: 280px;
    height: 500;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}
.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background-image: url(https://cdn.shopify.com/s/files/1/0337/7469/products/fading-sunset-ombre-wallpaper-mural_1800x1800.jpg?v=1596396913);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.new-profile-submit{
    margin-top: 10px;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-container>.block:hover{
    background-color: #E1BEE7;
}
.home-container>.block{
    padding: 4px;
    border-radius: 5px;
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }}
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* IMAGE STYLES */
      [type=radio] + img {
        cursor: pointer;
        border-radius: 50%;
        width: 75;
        height: 75;
      }
      
      /* CHECKED STYLES */
      [type=radio]:checked + img {
        outline: 2px solid #f00;
        border-radius: 50%;
      }
.br {
        display: block;
        margin: 10px 10;
     }
     @import url('https://fonts.googleapis.com/css?family=Varela+Round');
     html, body {
         overflow-x: hidden;
         height: 100%;
     }
     body2 {
         background: #fff;
         padding: 0;
         margin: 0;
         font-family: 'Varela Round', sans-serif;
     }
     .header2 {
         display: block;
         margin: 0 auto;
         width: 100%;
         max-width: 100%;
         box-shadow: none;
         background-image: url(https://cdn.shopify.com/s/files/1/0337/7469/products/fading-sunset-ombre-wallpaper-mural_1800x1800.jpg?v=1596396913);
         position: fixed;
         height: 60px!important;
         overflow: hidden;
         z-index: 10;
     }
     .main2 {
         margin: 0 auto;
         display: block;
         height: 100%;
         margin-top: 60px;
     }
     .mainInner{
         display: table;
         height: 100%;
         width: 100%;
         text-align: center;
     }
     .mainInner div{
         display:table-cell;
         vertical-align: middle;
         font-size: 3em;
         font-weight: bold;
         letter-spacing: 1.25px;
     }
     #sidebarMenu {
         height: 100%;
         position: fixed;
         left: 0;
         width: 250px;
         margin-top: 60px;
         transform: translateX(-250px);
         transition: transform 250ms ease-in-out;
     }
     .sidebarMenuInner{
         margin:0;
         padding:0;
         border-top: 1px solid rgba(255, 255, 255, 0.10);
     }
     .sidebarMenuInner li{
         list-style: none;
         color: #fff;
         text-transform: uppercase;
         font-weight: bold;
         padding: 20px;
         cursor: pointer;
         border-bottom: 1px solid rgba(255, 255, 255, 0.10);
     }
     .sidebarMenuInner li span{
         display: block;
         font-size: 14px;
         color: rgba(255, 255, 255, 0.50);
     }
     .sidebarMenuInner li a{
         color: #fff;
         text-transform: uppercase;
         font-weight: bold;
         cursor: pointer;
         text-decoration: none;
     }
     input[type="checkbox"]:checked ~ #sidebarMenu {
         transform: translateX(0);
     }
     
     input[type=checkbox] {
         transition: all 0.3s;
         box-sizing: border-box;
         display: none;
     }
     .sidebarIconToggle {
         transition: all 0.3s;
         box-sizing: border-box;
         cursor: pointer;
         position: absolute;
         z-index: 99;
         height: 100%;
         width: 100%;
         top: 22px;
         left: 15px;
         height: 22px;
         width: 22px;
     }
     .spinner {
         transition: all 0.3s;
         box-sizing: border-box;
         position: absolute;
         height: 3px;
         width: 100%;
         background-color: #fff;
     }
     .horizontal {
         transition: all 0.3s;
         box-sizing: border-box;
         position: relative;
         float: left;
         margin-top: 3px;
     }
     .diagonal.part-1 {
         position: relative;
         transition: all 0.3s;
         box-sizing: border-box;
         float: left;
     }
     .diagonal.part-2 {
         transition: all 0.3s;
         box-sizing: border-box;
         position: relative;
         float: left;
         margin-top: 3px;
     }
     input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
         transition: all 0.3s;
         box-sizing: border-box;
         opacity: 0;
     }
     input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
         transition: all 0.3s;
         box-sizing: border-box;
         transform: rotate(135deg);
         margin-top: 8px;
     }
     input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
         transition: all 0.3s;
         box-sizing: border-box;
         transform: rotate(-135deg);
         margin-top: -9px;
     }
     .demo { padding-left: 30px; }